/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .light-theme {
    background-color: #fff;
    color: #333;
  }
  
  .dark-theme {
    background-color: #333;
    color: #fff;
  }
  